@media(max-widt:320px){
    header  {
        display: none;
    }
    section{ 
        .grid-conteiner{
            display: grid;
            width: 100%;
            margin: 0 auto;
    
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-gap: 10px;
    
            .c1{
                grid-column: 1/3;
            }
        }
        
         
    }
}